{% extends "layout.html" %}

{% block content %}
{% load static %}
<section id="prodetails" class="section-p1">
        <div class="single-pro-image">
          <img src="{{ product.image.url }}" width="100%" id="MainImg" alt="" />
          <div class="small-img-group">
             
              <div class="small-img-col">
              <img
                src="{{ product.image.url }}"
                width="100%"
                class="small-img"
                alt=""
              />
            </div>
            <div class="small-img-col">
              <img
                src="{{ product.image.url }}"
                width="100%"
                class="small-img"
                alt=""
              />
            </div>
            <div class="small-img-col">
              <img
                src="{{ product.image.url }}"
                width="100%"
                class="small-img"
                alt=""
              />
            </div>
            <div class="small-img-col">
              <img
                src="{{ product.image.url }}"
                width="100%"
                class="small-img"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="single-pro-details">
          <h6>{{product.name}}</h6>
          <h2>${% if product.is_sale %}
            <strike>{{ product.price }}</strike>
            {{ product.sale_price }}
            {% else %}
            {{ product.price }}
            {% endif %}</h2>
          <select id="size-cart">
            <option value="small">Small</option>
            <option value="large">Large</option>
            <option value="xl">XL</option>
            <option value="xxl">XXL</option>
            <option value="xxxl">XXXL</option>
          </select>
          <input type="number" value="1" id="qty-cart" />
          <button value="{{ product.id }}" id="add-cart" class="normal">Add To Cart</button>
          <h4>Product Details</h4>
          <span
            >{{product.subcat}} <br> {{product.description}}</span>
        </div>
        <h4>Rating</h4>
        <span>{{product.rating}}</span>
      </section>
      <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Mordern Design</p>
        <div class="pro-container">
          {% for product in products %}
          <div class="pro">
            <img src="{{product.image.url}}" alt="" />
            <div class="des">
              <h5>{{product.name}}</h5>
              <div class="star">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <h4>${% if product.is_sale %}
                <strike>{{ product.price }}</strike>
                {{ product.sale_price }}
                {% else %}
                {{ product.price }}
                {% endif %}</h4>
            </div>
            <a href="#"><i class="ri-shopping-cart-line cart"></i></a>
          </div>
          {% endfor %}
      </section>
      <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
          <h4>Sign Up For Newsletters</h4>
          <p>
            Get E-mail updates abbout our latest shop and
            <span>special offers.</span>
          </p>
        </div>
        <div class="form">
          <input type="text" placeholder="Your email address" />
          <button class="normal">Sign Up</button>
        </div>
      </section>
    <script>
$(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                     product_id: $('#add-cart').val(),
                     product_quantity: $('#qty-cart').val(),
                     product_size: $('#size-cart option:selected').text(),
                     csrfmiddlewaretoken: '{{ csrf_token }}',
                     action: 'post'
            },
    
            success: function(json){
                document.getElementById("cart_quantity").textContent=json.qty
                location.reload();
            },
    
            error: function(xhr, errmsg, err){
    
            }
    
    
        });
    
    
    
    })

    </script> 
    
    {% endblock %}

