{% extends 'layout.html' %} {% block title %}
  Shop Page
{% endblock %} {% block cls_shop %}
  active
{% endblock %} {% block content %}
  {% load static %}
  <section id="page-header">
    <h2>Search Products</h2>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nulla iusto eos perspiciatis? Ipsa, odit.</p>
  </section>
  
     </section>


     {% comment %} product section below {% endcomment %}
  <section id="product1" class="section-p1">
    
    <div class="pro-container">
      {% for product in products %}
        
          <div class="pro">
            <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="" />
            <div class="des">
              <h5>{{ product.name }}</h5>
              <span>{{ product.maincat }}</span>
              <div class="star">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
              </div>
              <h4>
                {% if product.is_sale %}
                <strike>{{ product.price }}</strike>
                {{ product.sale_price }}
                {% else %}
                {{ product.price }}
                {% endif %}
              </h4>
            </div>
            <a href="#"></a><i class="ri-shopping-cart-line cart"></i>
        </a>
          </div>
      {% endfor %}
    </div>
  </section>
  

  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>
        Get E-mail updates abbout our latest shop and
        <span>special offers.</span>
      </p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your email address" />
      <button class="normal">Sign Up</button>
    </div>
  </section>
  
 
{% endblock %}
