{% extends "layout.html" %}
{% block cls_register %}
active
{% endblock %}


{% block content %}
{% load static %}
<section id="signup" class="section-m1" style="margin-top: 80px;">
    
       <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br><br>
        <button type="submit" class="btn btn-secondary">Update password</button>
        </form>
          
              <a href="{% url 'login' %}" style="margin-top: 10px;" >
                <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Sign In ?
                </button>
               </a>
</section>
        
{% endblock %}